<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/styles.css"/>
    <link rel="stylesheet" href="../vendor/bootstrap.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="../vendor/angular.min.js"></script>
    <script src="../vendor/bootstrap.js"></script>
    <script src="../vendor/bootstrap.bundle.js"></script>
    <script src="../vendor/popper.min.js"></script>
    <script src="../vendor/jquery-3.2.1.slim.min.js"></script>
    <script src="../scripts/controllers/jugar.js"></script>
  </body>
</html>
