.title {
  margin-bottom: 30px;
  color: #0d498a;
}

.boton {
  margin-top: 20px;
}

.miBoton {
  width: 300px;
  cursor: pointer;
}

.persona {
  height: 38px;
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #007bff;
  padding-bottom: 5px;
  padding-left: 20px;
}

.volverInicio {
  margin-top: 40px;
}

.formularioRegistro {
  padding-top: 50px;
  padding-right: 150px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.form-group col-md-6{
  text-align: center;
  margin: 0auto;
}
